.recursos {
    padding: 130px 2%;
    width: 100%;
}

.recursos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.recursos-item {
    padding: 0 15px;
    text-align: center;
}

.recursos-item img {
    border-radius: 40px;
    margin-bottom: 30px;
}

.recursos-item h2 {
    color: var(--dark-blue);
    font-size: var(--fonte-30);
    font-weight: 600;
    line-height: 36px;
}

@media screen and (max-width: 760px) {

    .recursos-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}