:root {
    --dark-blue: #1a3154;
    --light-blue: #677284;
    --yellow: #ffc107;
    --yellow-s: #ffb316;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --light: #f8f9fa;
    --dark: #343a40;

    --fonte-14: 0.875rem;
    --fonte-18: 1.125rem;
    --fonte-20: 1.25rem;
    --fonte-24: 1.5rem;
    --fonte-30: 1.875rem;
    --fonte-38: 2.375rem;
    --fonte-40: 2.5rem;
    --fonte-44: 2.75rem;
    --fonte-60: 3.75rem;
    --fonte-70: 4.375rem;
}